app/code/local/Jaagers/Hotlist/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="hotlistUpdateListEntity">
                <all>
                    <element name="product_id" type="xsd:string" />
                    <element name="qty" type="xsd:int" />
                </all>
            </complexType>
			<complexType name="hotlistUpdateListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:hotlistUpdateListEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    
    <message name="hotlistTestMethodRequest">
        <part name="sessionId" type="xsd:string" />     
        <part name="args" type="xsd:string" />
    </message>
    <message name="hotlistTestMethodResponse">
        <part name="result" type="xsd:true" />
    </message>
	<message name="hotlistCreateListRequest">
        <part name="sessionId" type="xsd:string" />     
		<part name="customer_id" type="xsd:int" />
		<part name="title" type="xsd:string" />
    </message>
    <message name="hotlistCreateListResponse">
        <part name="result" type="xsd:string" />
    </message>
	<message name="hotlistDeleteListRequest">
        <part name="sessionId" type="xsd:string" />     
        <part name="listId" type="xsd:int" />
    </message>
    <message name="hotlistDeleteListResponse">
        <part name="result" type="xsd:boolean" />
    </message>
	<message name="hotlistUpdateListRequest">
        <part name="sessionId" type="xsd:string" />     
        <part name="listId" type="xsd:int" />
		<part name="items" type="typens:hotlistUpdateListEntityArray" />
    </message>
    <message name="hotlistUpdateListResponse">
        <part name="result" type="xsd:boolean" />
    </message>
    <message name="hotlistUpdateListNameRequest">
        <part name="sessionId" type="xsd:string" />     
        <part name="listId" type="xsd:int" />
        <part name="title" type="xsd:string" />
    </message>
    <message name="hotlistUpdateListNameResponse">
        <part name="result" type="xsd:string" />
    </message>
	
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="hotlistTestMethod">
            <documentation>Test Method</documentation>
            <input message="typens:hotlistTestMethodRequest" />
            <output message="typens:hotlistTestMethodResponse" />
        </operation>
		<operation name="hotlistCreateList">
            <documentation>Create hotlist</documentation>
            <input message="typens:hotlistCreateListRequest" />
            <output message="typens:hotlistCreateListResponse" />
        </operation>
		<operation name="hotlistDeleteList">
            <documentation>Delete hotlist</documentation>
            <input message="typens:hotlistDeleteListRequest" />
            <output message="typens:hotlistDeleteListResponse" />
        </operation>
		<operation name="hotlistUpdateList">
            <documentation>Add product to list</documentation>
            <input message="typens:hotlistUpdateListRequest" />
            <output message="typens:hotlistUpdateListResponse" />
        </operation>
        <operation name="hotlistUpdateListName">
            <documentation>Update list name</documentation>
            <input message="typens:hotlistUpdateListNameRequest" />
            <output message="typens:hotlistUpdateListNameResponse" />
        </operation>
	</portType>
	
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="hotlistTestMethod">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="hotlistCreateList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="hotlistDeleteList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="hotlistUpdateList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="hotlistUpdateListName">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>