app/code/local/Jaagers/Extendedcustomer/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="customerCustomerEntityToCreate">
                <all>
                    <element name="mavis_debiteurnummer" type="xsd:int" minOccurs="0" />
                    <element name="mavis_debiteurgroepnummer" type="xsd:int" minOccurs="0" />
                    <element name="projectnummer" type="xsd:string" minOccurs="0" />
                    <element name="branchenummer" type="xsd:int" minOccurs="0" />
                    <element name="loginnaam" type="xsd:string" minOccurs="0" />
                    <element name="maximum_bestelbedrag" type="xsd:int" minOccurs="0" />
                    <element name="besteltermijn" type="xsd:int" minOccurs="0" />
                    <element name="besteltermijn_aantal" type="xsd:int" minOccurs="0" />
                    <element name="besteltermijn_ingangsdatum" type="xsd:string" minOccurs="0" />
                    <element name="filiaalnummer" type="xsd:int" minOccurs="0" />
                    <element name="mag_bestellen" type="xsd:int" minOccurs="0" />
					<element name="mag_hotlist_bekijken" type="xsd:int" minOccurs="0" />
                    <element name="mag_autoriseren" type="xsd:int" minOccurs="0" />
                    <element name="mag_backoffice_bekijken" type="xsd:int" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="customerCustomerEntity">
                <all>
                    <element name="mavis_debiteurnummer" type="xsd:int" minOccurs="0" />
                    <element name="mavis_debiteurgroepnummer" type="xsd:int" minOccurs="0" />
                    <element name="projectnummer" type="xsd:int" minOccurs="0" />
                    <element name="branchenummer" type="xsd:int" minOccurs="0" />
                    <element name="loginnaam" type="xsd:string" minOccurs="0" />
                    <element name="maximum_bestelbedrag" type="xsd:int" minOccurs="0" />
                    <element name="besteltermijn" type="xsd:int" minOccurs="0" />
                    <element name="besteltermijn_aantal" type="xsd:int" minOccurs="0" />
                    <element name="besteltermijn_ingangsdatum" type="xsd:string" minOccurs="0" />
                    <element name="filiaalnummer" type="xsd:int" minOccurs="0" />
                    <element name="mag_bestellen" type="xsd:int" minOccurs="0" />
					<element name="mag_hotlist_bekijken" type="xsd:int" minOccurs="0" />
                    <element name="mag_autoriseren" type="xsd:int" minOccurs="0" />
                    <element name="mag_backoffice_bekijken" type="xsd:int" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
</definitions>
